<div class="col-sm-12 text-center"><h3>Person List</h3></div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @decorated_people.each do |decorated_person| %>
			<tr>
				<td><%= decorated_person.link_to_show %></td>
				<td><%= decorated_person.link_to_edit %> <%= decorated_person.link_to_delete %>										
				</td>
			</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td><ul class="pull-right"><%= link_to 'New', new_person_path, class: 'btn btn-primary btn-xs' %></ul></td>
		</tr>
	</tfoot>
</table>