<div class="col-sm-12 text-center"><h3>Person Details</h3></div>
<div class="text-center">
	<p>
	  <strong>Name :</strong>
	  <%= @person.name %>
	</p>
	 
	<p>
	  <strong>Money :</strong>
	  <%= @person.money %>
	</p>
</div>